.wrapper {
    height: 100%;
}

.image-logo{
    height: 30%;
    width: 30%;
    color: rgba(0, 0, 0, .9);
}

 .mode-logo > svg{
    width: 20px;
    height: 20px;
}

.Search {
   
    > * {
        padding: 0 6px;
    }

    input {
        outline: none;
        border: none;
    }

    Button {
        height: 40%;
        border-radius: 0px 5px 5px 0;

         svg {
            width: 1.5rem;
            height: 1.5rem;
         }
    }
}
.login, .cart {
    > * {
        margin: 5px;
    }
}

.mode{
    > *:not(:last-child){
        margin: 0 1rem;
    }
}