.time {
    
    & > * {
        background: red;
        color: #fff;
        padding: 5px;
    }

}
.properties {
    & > *{
        margin: 0 5px;
    } 

    .MuiListItemText-primary {
        
        &.hover {
            color: purple;
        }    
    }
}