.panel-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    
    align-items: center;
    color: #333333;

    .panel-body{
        min-width: 1400px;
    }
    
}