:root{
    --max-width: 1380px;

}

.panel-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    
    align-items: center;
    color: #333333;

    .panel-body{
        min-width: var(--max-width);
    }
}

.panel-product{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    
    align-items: center;
    color: #333333;

    .panel-body{
        max-width: var(--max-width);
    }

    .panel-image{
        min-width: var(--max-width);
    }
}
.panel-image{
    img {
        border-radius: 10px;
    }
}