.Menu,
.advertise{
    > *:not(:first-child){
        margin: 0 10px;
    }
}

.Menu {
   position: relative;

    .ContentToggle > *:not(:last-child){
        border-bottom: 1px solid #E4E6EB;
    }

    Button {
        padding: 0px;
    }

}
.Menu::before{
    position: absolute;
    content: '';
    background: #dedede;
    height: 1.25rem;
    width: 2px;
    top: 0;
    right: 0;
    transform: translateX(10rem);
}
