.header {
    > *{
        border-bottom: 1px solid #e7e7e7;
    }
}
.wrapper-head {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    
    align-items: center;
    color: #888888;

    .panel-head {
        min-width: 1400px;
    }
}

.wrapper-body {
    height: 7rem;
    display: flex;
    justify-content: center;

    .panel-body {
        min-width: 1400px;
    }
}

.wrapper-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    
    align-items: center;
    color: #888888;

    .panel-bottom {
        min-width: 1400px;
    }
}