.wrapper-head {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
    color: #C7C8CC;

    .panel-head{
        min-width: 1400px;
        background: green;
    }
}

.wrapper-body{
    background: red;
    height: 7rem;
}

