
.newCost{
    color: red;
    font-weight: 700;
    font-size: 15px;
}

.oldCost{
    color: #888888;
    font-weight: 600;
      text-decoration: line-through;
      font-size: 12px;
      margin: 0 5px;
}

.discount{
    background-color: red;
    padding: 5px;
    border-radius: 50px;
    color: white;
    position: absolute;
    transform: translate(10px, 10px);
    z-index: 1;
}

.title {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

.text{
    font-weight: 700;
}
.image{
    position: relative;
}