.newCost {
    color: red;
    font-weight: 700;
    font-size: 15px;
}

.oldCost {
    color: #888888;
    font-weight: 600;
    text-decoration: line-through;
    font-size: 12px;
    margin: 0 5px;
}

.discount {
    background-color: red;
    padding: 3px;
    border-radius: 50px;
    color: white;
    position: absolute;
    z-index: 1;
    left: 24px;
}

.title {
    line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    z-index: 10;
    padding: 10px 0;
}

.text {
    font-weight: 700;
}

.image {
    position: relative;
}
.wrapper {
    transition: border-bottom 0.3s ease;

    &.hover {
        border-bottom: 1px solid purple;
    }
}



.button {
    display: none;

    &.visible {
        display: block;
    }
}

.wrapper-body{
    display: block;

    &.invisible{
        display: none;
    }
}