@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #C7C8CC;
    --primary-color: #F05454;
    --border-color: #e5e5e5;


}

.App{
    position: relative;
    display: flex;
}


:root {
    --font-family: 'Roboto', sans-serif;
}

// html {
//     font-size: 62.5%;
// }

body {
    font-family: var(--font-family);
    text-rendering: optimizeSpeed;
    height: 100%;
    width: 100%;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

// Scrollbar CSS
::-webkit-scrollbar {
    width: 10px;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background:  #888;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #e0e0e0;
}

::-webkit-scrollbar-track:hover{
    background: #555;
}
